.trustedBy{
    background-color: hsl(220, 38%, 78%);
    height: 100px;
    display: flex;
    justify-content: center;

    .container{
        width: 760px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: lightgray;
        font-weight: 500;

        span{
            font-size: 24px;
            color: black;
        }

        img{
            height: 50px;
            object-fit: contain;
        }
    }
}