.projectCard{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 16px rgb(0, 0, 0, 0.5);

    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px;

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .texts{
            h2{}
            span{}
        }
    }
}