.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: hsl(216, 74%, 43%);
  color: white;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 48px;
        max-width: 600px;
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;
        padding: 10px;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 24px;
            height: 24px;
          }

          input {
            border: none;
            outline: none;
            font-size: 16px;
          }
        }

        button {
          background-color: hsl(216, 74%, 43%);
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
        }
        button {
          color: white;
          background-color: transparent;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
    .right {
      height: 100%;

      img {
        height: 80%;
        width: auto;
        
      }
    }
  }
}
