.catCard{
    width: 300px;
    height: 400px;
    color: white;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    

    img{
        width: 80%;
        height: 80%;
        object-fit: cover;
    }

    .desc{
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 14px;
        font-weight: 300;
        color: white;
    }
    .title{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        font-weight: 500;
        color: white;
        background-color: rgb(0, 0,0, 0.5);
        padding: 10px;
        border-radius:10px ;
    }
}